/*@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Odibee+Sans&family=Open+Sans:wght@400;500;700;800&family=Oswald:wght@400;700&family=Poppins:wght@200;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  s
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.heading {
  padding: 2rem;
}
.outline {
  border: 1px solid #abccf7;
}
form {
 
  width: 45%;
  height: auto;
  font-size: 0.9rem;
  padding: 2rem;
  margin-bottom: 3rem;
}
#title {
  text-align: center;
   padding: 2rem; 
}
#description {
  text-align: center;
  padding-top: 0.7rem;
}
.details {
  display: flex;
  flex-direction: column;
  padding: 1rem 0rem;
}
input[type="text"],
input[type="email"],
input[type="tel"] {
  padding: 12px 20px;
  margin: 0.5rem 0;
  outline: none;
  
}
#dropdown {
  outline: none;
  padding: 0.5rem;
  
}
.radio {
  padding: 1rem 0;
}

.check {
  padding: 1rem 0;
}
.input-t {
  margin-right: 10px;
}
#textarea {
  width: 100%;
  outline: none;
  border-radius: 3px;
  padding: 0.5rem;
  font-family: inherit;
}
.btn {
  padding: 1rem 0;
}

#submit {
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
  background-color: #6290cc;
  color: white;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 0.8rem;
  }
  form {
    width: 90%;
    font-size: 0.7rem;
  }
} */

/*TWEET BUTTON*/

.tweet-button {
background-color: rgb(2, 158, 255);
color: white;
border: none;
height: 36px;
width: 70px;
border-radius: 18px;
font-weight: bold;
font-size: 15px;
cursor: pointer;
margin-left: 8px;
transition: box-shadow 0.15s;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 1); /* a value means the opacity of the color.Takes 4 values - horizontal,vertical,blur and the color*/

}

.tweet-button:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 1); /* a value means the opacity of the color.Takes 4 values - horizontal,vertical,blur and the color*/

  opacity: 0.8; /*Tells us how a see through html element is and is between 0 and 1.1 means its normal and below 1 is used to fed out the element*/
}

.tweet-button:active {
   opacity: 0.5;
}
